---
import path from 'path'
import ImageWrapper from './misc/ImageWrapper.astro'
import ResearchMeta from './ResearchMeta.astro'
import { Icon } from 'astro-icon/components'
import { getDir, url } from '../utils/url-utils'

interface Props {
  entry: any
  class?: string
  title: string
  url: string
  authors: string[]
  year: string
  arxiv?: string
  code?: string
  preview?: string
  description?: string
  style?: string
}

const {
  entry,
  title,
  url,
  authors,
  year,
  arxiv,
  code,
  preview,
  description,
  style,
  category,
} = Astro.props
const className = Astro.props.class

const hasPreview = preview !== undefined && preview !== null && preview !== ''
const previewWidth = '28%'
---

<div class:list={["card-base !rounded-none flex flex-col-reverse md:flex-col w-full overflow-hidden relative", className]} style={style}>
    <div class:list={["pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative", {"w-full md:w-[calc(100%_-_52px_-_12px)]": !hasPreview, "w-full md:w-[calc(100%_-_var(--previewWidth)_-_12px)]": hasPreview}]}>
        <a href={url}
           class="transition group w-full block font-bold mb-2 text-2xl
        text-black dark:text-white hover:underline
        active:text-[var(--title-active)] dark:active:text-[var(--title-active)]
        ">
            {title}
        </a>

        <!-- metadata -->
        <div class="text-75 mb-4">
            <span>{authors.join(", ")}</span>
        </div>
        
       <ResearchMeta year={year} category={category} arxiv={arxiv} code={code} />

        {description && 
          <div class="transition text-75 mb-3.5 pr-4 line-clamp-2">
              {description}
          </div>
        }
    </div>

    {hasPreview && <a href={url} aria-label={title}
                    class:list={["group",
                        "max-h-[20vh] md:max-h-none mx-4 mt-4 -mb-2 md:mb-0 md:mx-0 md:mt-0",
                        "md:w-[var(--previewWidth)] relative md:absolute md:top-3 md:bottom-3 md:right-3 overflow-hidden active:scale-95"
                    ]} >
        <div class="absolute pointer-events-none z-10 w-full h-full group-hover:bg-black/30 group-active:bg-black/50 transition"></div>
        <div class="absolute pointer-events-none z-20 w-full h-full flex items-center justify-center ">
            <Icon name="material-symbols:chevron-right-rounded"
                  class="transition opacity-0 group-hover:opacity-100 scale-50 group-hover:scale-100 text-white text-5xl">
            </Icon>
        </div>
        <ImageWrapper src={preview}  basePath={"content/assets/research"} alt="Preview" class="w-full h-full object-cover">
        </ImageWrapper>
    </a>}
</div>
<div class="transition border-t-[1px] mx-6 border-black/50 dark:border-white/50 last:border-t-0 md:hidden"></div>

<style define:vars={{previewWidth}}>
</style>